# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask related
instance/
.webassets-cache

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Database files
*.db
*.sqlite3
